.app-header-container {
  display: flex;
  width: 100%;
  justify-content: center;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #fff;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.08);
  border-bottom: 1px solid theme('colors.border.DEFAULT');
  z-index: 10;
  height: 64px;
  .app-header-content {
    display: flex;
    align-items: center;
    padding: 24px 0px 24px 12px;
    justify-content: space-between;
    gap: 44px;
    .options-wrap {
      display: flex;
      align-items: center;
      gap: 12px;
      .add-button, .sort-button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 12px 20px 12px 16px;
        border-radius: 8px;
        color: white;
        font-weight: 500;
        font-size: 16px;
        background-color: theme('colors.primary.DEFAULT');
        gap: 12px;
        &:hover {
          background-color: theme('colors.primary.hover');
        }
      }
      .add-button {
        @media (max-width: 600px) {
            position: fixed;
            width: 84px;
            height: 84px;
            border-radius: 42px;
            bottom: 32px;
            right: 16px;
            padding: 0px;
            overflow: hidden;
            box-shadow: 0px 8px 16px 8px rgba(0, 0, 0, 0.12);
            span {
                display: none;
            }
            svg {
                transform: scale(1.5);
                transform-origin: center;
            }
        }
      }
      .sort-button {
        background-color: theme('colors.background.DEFAULT');
        font-size: 14px;
        font-weight: unset;
        padding: 12px 16px;
        color: theme('colors.text.DEFAULT');
        &:hover {
            background-color: theme('colors.background.darker');

        }
      }
    }
  }
}
