.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  background: theme('colors.background.DEFAULT');
}

.custom-container {
  width: 1200px;
  /* padding-left: 16px;
  padding-right: 16px; */
  @media (max-width: 1360px) {
    width: 1080px;
  }
  @media (max-width: 1080px) {
    width: calc(100vw - 32px);
  }
}

.main-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  gap: 24px;
  padding: 24px 0px;
  @media (max-width: calc(360px + 32px)) {
    grid-template-columns: 1fr;
  }
}
